/* ######## Wide Version ######  */ 

.contain {    width:100%; margin:0 auto;  background:url(../../img/bg.png)repeat; }
.contain-btm {   width:100%; margin:0 auto;    }
.sub-wrap { width:100%; margin:0 auto; }
#subscriber { border-radius:0; }
.partners { border-radius:0; }

.contain2 {    width:100%; margin:0 auto;  background:url(../../img/bg.png)repeat; }

 